main {
    padding-top: 2rem;
    margin-bottom: 2rem;

    .container {
        flex-direction: column;
    }
}

.interact {
    padding-bottom: 2rem;
    
    .container {
        flex-direction: column;
        gap: 36px;

        .first-row,
        .first-row .inputs,
        .second-row {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .first-row {
            .result p {
                font-size: 1.7rem;
                text-align: center;
                font-weight: $semi;
            }
        }

        .second-row {
            .block .ps div {
                display: flex;
                flex-direction: column;
                gap: 20px;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &::after {
                        font-size: 1rem;
                        color: #fff;
                        font-weight: $bold;
                        border-radius: 4px;
                        padding: 8px 12px;
                        display: block;
                    }

                    &.passa::after {
                        content: "PASSA";
                        background: #0d6311;
                    }

                    &.falha::after {
                        content: "FALHA";
                        background: #9d0808;
                    }
                }
            }
        }
    }
}
